<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_V4eNcMxUEee63t77XRcTiA" specification="interface:&#xA;// Define events and&#xA;&#xA;in event criticalFailure&#xA;in event reachedMaxSpeed&#xA;in event reachedVelocityZero&#xA;in event onStart&#xA;in event endOfRunReached&#xA;in event onExit&#xA;in event endOfTubeReached&#xA;// and variables here. &#xA;//Use CTRL + Space for content assist." name="HypedMachine">
    <regions xmi:id="_1YCpQ8-iEee48JrrJoDtQw" name="z">
      <vertices xsi:type="sgraph:Entry" xmi:id="_1YTH9s-iEee48JrrJoDtQw">
        <outgoingTransitions xmi:id="_1YTvB8-iEee48JrrJoDtQw" target="_1YPdnM-iEee48JrrJoDtQw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_1YPdnM-iEee48JrrJoDtQw" name="Idle" incomingTransitions="_1YTvB8-iEee48JrrJoDtQw">
        <outgoingTransitions xmi:id="_1YQruM-iEee48JrrJoDtQw" specification="onStart" target="_1YFFh8-iEee48JrrJoDtQw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_1YFFh8-iEee48JrrJoDtQw" name="Racing" incomingTransitions="_1YQruM-iEee48JrrJoDtQw">
        <outgoingTransitions xmi:id="_LzeUgM-jEee48JrrJoDtQw" specification="criticalFailure" target="_1YDQXM-iEee48JrrJoDtQw"/>
        <outgoingTransitions xmi:id="_df4r4M-jEee48JrrJoDtQw" specification="endOfRunReached" target="_YH2QMM-jEee48JrrJoDtQw"/>
        <regions xmi:id="_1YG6sM-iEee48JrrJoDtQw" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_1YJW8M-iEee48JrrJoDtQw" name="Accelerating" incomingTransitions="_1YIv9c-iEee48JrrJoDtQw">
            <outgoingTransitions xmi:id="_1YLMIM-iEee48JrrJoDtQw" specification="reachedMaxSpeed&#xA;" target="_1YII0M-iEee48JrrJoDtQw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_1YII0M-iEee48JrrJoDtQw" name="Decelerating" incomingTransitions="_1YLMIM-iEee48JrrJoDtQw"/>
          <vertices xsi:type="sgraph:Entry" xmi:id="_1YHhxM-iEee48JrrJoDtQw">
            <outgoingTransitions xmi:id="_1YIv9c-iEee48JrrJoDtQw" specification="" target="_1YJW8M-iEee48JrrJoDtQw"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_1YDQXM-iEee48JrrJoDtQw" name="EmergencyBraking" incomingTransitions="_LzeUgM-jEee48JrrJoDtQw">
        <outgoingTransitions xmi:id="_NRCCMM-kEee48JrrJoDtQw" specification="reachedVelocityZero" target="_JEUKIM-kEee48JrrJoDtQw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_YH2QMM-jEee48JrrJoDtQw" name="RunComplete" incomingTransitions="_df4r4M-jEee48JrrJoDtQw">
        <outgoingTransitions xmi:id="_aJUAgNCGEee48JrrJoDtQw" specification="onExit" target="_YGEWYNCGEee48JrrJoDtQw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_JEUKIM-kEee48JrrJoDtQw" name="Stopped" incomingTransitions="_NRCCMM-kEee48JrrJoDtQw"/>
      <vertices xsi:type="sgraph:State" xmi:id="_YGEWYNCGEee48JrrJoDtQw" name="Exiting" incomingTransitions="_aJUAgNCGEee48JrrJoDtQw">
        <outgoingTransitions xmi:id="_dm13UNCGEee48JrrJoDtQw" specification="endOfTubeReached" target="_bcccUNCGEee48JrrJoDtQw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_bcccUNCGEee48JrrJoDtQw" specification="" name="Finished" incomingTransitions="_dm13UNCGEee48JrrJoDtQw"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_V5FRccxUEee63t77XRcTiA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_V4eNcMxUEee63t77XRcTiA" measurementUnit="Pixel">
    <children xmi:id="_1YCCMM-iEee48JrrJoDtQw" type="Region" element="_1YCpQ8-iEee48JrrJoDtQw">
      <children xsi:type="notation:DecorationNode" xmi:id="_1YCpQM-iEee48JrrJoDtQw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1YCpQs-iEee48JrrJoDtQw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1YCpQc-iEee48JrrJoDtQw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_1YCCM8-iEee48JrrJoDtQw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_1YSg4s-iEee48JrrJoDtQw" type="Entry" element="_1YTH9s-iEee48JrrJoDtQw">
          <children xmi:id="_1YTH8M-iEee48JrrJoDtQw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_1YTH88-iEee48JrrJoDtQw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_1YTH9c-iEee48JrrJoDtQw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_1YTH9M-iEee48JrrJoDtQw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_1YTH8s-iEee48JrrJoDtQw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1YTH8c-iEee48JrrJoDtQw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_1YSg5c-iEee48JrrJoDtQw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_1YSg5M-iEee48JrrJoDtQw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1YSg48-iEee48JrrJoDtQw" x="25" width="15" height="15"/>
        </children>
        <children xmi:id="_1YPdkM-iEee48JrrJoDtQw" type="State" element="_1YPdnM-iEee48JrrJoDtQw">
          <children xsi:type="notation:DecorationNode" xmi:id="_1YPdkc-iEee48JrrJoDtQw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_1YPdks-iEee48JrrJoDtQw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_1YPdk8-iEee48JrrJoDtQw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_1YPdlM-iEee48JrrJoDtQw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_1YPdlc-iEee48JrrJoDtQw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1YPdls-iEee48JrrJoDtQw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_1YPdl8-iEee48JrrJoDtQw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_1YPdmM-iEee48JrrJoDtQw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_1YPdmc-iEee48JrrJoDtQw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_1YPdms-iEee48JrrJoDtQw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1YPdm8-iEee48JrrJoDtQw" x="16" y="56" width="40" height="53"/>
        </children>
        <children xmi:id="_1YEecM-iEee48JrrJoDtQw" type="State" element="_1YFFh8-iEee48JrrJoDtQw">
          <children xsi:type="notation:DecorationNode" xmi:id="_1YEecc-iEee48JrrJoDtQw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_1YEecs-iEee48JrrJoDtQw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_1YEec8-iEee48JrrJoDtQw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_1YEedM-iEee48JrrJoDtQw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_1YFFgM-iEee48JrrJoDtQw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1YFFgc-iEee48JrrJoDtQw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_1YFFgs-iEee48JrrJoDtQw" type="StateFigureCompartment">
            <children xmi:id="_Hr-igNCGEee48JrrJoDtQw" type="Region" element="_1YG6sM-iEee48JrrJoDtQw">
              <children xsi:type="notation:DecorationNode" xmi:id="_Hr-igdCGEee48JrrJoDtQw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_Hr-igtCGEee48JrrJoDtQw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_Hr-ig9CGEee48JrrJoDtQw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_Hr-ihNCGEee48JrrJoDtQw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_Hr-ihdCGEee48JrrJoDtQw" type="State" element="_1YJW8M-iEee48JrrJoDtQw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_Hr-ihtCGEee48JrrJoDtQw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Hr-ih9CGEee48JrrJoDtQw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_Hr-iiNCGEee48JrrJoDtQw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Hr-iidCGEee48JrrJoDtQw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_Hr-iitCGEee48JrrJoDtQw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Hr-ii9CGEee48JrrJoDtQw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Hr-ijNCGEee48JrrJoDtQw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Hr-ijdCGEee48JrrJoDtQw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_Hr-ijtCGEee48JrrJoDtQw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Hr-ij9CGEee48JrrJoDtQw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Hr-ikNCGEee48JrrJoDtQw" x="21" y="36"/>
                </children>
                <children xmi:id="_Hr-ikdCGEee48JrrJoDtQw" type="State" element="_1YII0M-iEee48JrrJoDtQw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_Hr-iktCGEee48JrrJoDtQw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Hr-ik9CGEee48JrrJoDtQw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_Hr-ilNCGEee48JrrJoDtQw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Hr-ildCGEee48JrrJoDtQw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_Hr-iltCGEee48JrrJoDtQw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Hr-il9CGEee48JrrJoDtQw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Hr-imNCGEee48JrrJoDtQw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Hr-imdCGEee48JrrJoDtQw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_Hr-imtCGEee48JrrJoDtQw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Hr-im9CGEee48JrrJoDtQw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Hr-inNCGEee48JrrJoDtQw" x="201" y="36"/>
                </children>
                <children xmi:id="_Hr-indCGEee48JrrJoDtQw" type="Entry" element="_1YHhxM-iEee48JrrJoDtQw">
                  <children xmi:id="_Hr-intCGEee48JrrJoDtQw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_Hr-in9CGEee48JrrJoDtQw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_Hr-ioNCGEee48JrrJoDtQw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_Hr-iodCGEee48JrrJoDtQw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Hr-iotCGEee48JrrJoDtQw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Hr-io9CGEee48JrrJoDtQw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Hr-ipNCGEee48JrrJoDtQw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_Hr-ipdCGEee48JrrJoDtQw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Hr-iptCGEee48JrrJoDtQw" x="48" y="-18"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Hr-ip9CGEee48JrrJoDtQw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_Hr-iqNCGEee48JrrJoDtQw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Hr-iqdCGEee48JrrJoDtQw"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_1YFFg8-iEee48JrrJoDtQw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_1YFFhM-iEee48JrrJoDtQw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_1YFFhc-iEee48JrrJoDtQw" name="isHorizontal" booleanValue="true"/>
          <styles xsi:type="notation:StringValueStyle" xmi:id="_LMdF4M-lEee48JrrJoDtQw" name="featureToShow" stringValue="documentation"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1YFFhs-iEee48JrrJoDtQw" x="151" width="321" height="214"/>
        </children>
        <children xmi:id="_1YDQUM-iEee48JrrJoDtQw" type="State" element="_1YDQXM-iEee48JrrJoDtQw">
          <children xsi:type="notation:DecorationNode" xmi:id="_1YDQUc-iEee48JrrJoDtQw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_1YDQUs-iEee48JrrJoDtQw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_1YDQU8-iEee48JrrJoDtQw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_1YDQVM-iEee48JrrJoDtQw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_1YDQVc-iEee48JrrJoDtQw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1YDQVs-iEee48JrrJoDtQw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_1YDQV8-iEee48JrrJoDtQw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_1YDQWM-iEee48JrrJoDtQw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_1YDQWc-iEee48JrrJoDtQw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_1YDQWs-iEee48JrrJoDtQw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1YDQW8-iEee48JrrJoDtQw" x="268" y="416" width="110" height="53"/>
        </children>
        <children xmi:id="_YH4FYM-jEee48JrrJoDtQw" type="State" element="_YH2QMM-jEee48JrrJoDtQw">
          <children xsi:type="notation:DecorationNode" xmi:id="_YH4scM-jEee48JrrJoDtQw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_YH4scc-jEee48JrrJoDtQw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_YH4scs-jEee48JrrJoDtQw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YH4sc8-jEee48JrrJoDtQw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_YH4sdM-jEee48JrrJoDtQw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YH4sdc-jEee48JrrJoDtQw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YH5TgM-jEee48JrrJoDtQw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_YH4FYc-jEee48JrrJoDtQw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_YH4FYs-jEee48JrrJoDtQw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_YH5Tgc-jEee48JrrJoDtQw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YH4FY8-jEee48JrrJoDtQw" x="583" y="81" width="82" height="53"/>
        </children>
        <children xmi:id="_JEVYQM-kEee48JrrJoDtQw" type="State" element="_JEUKIM-kEee48JrrJoDtQw">
          <children xsi:type="notation:DecorationNode" xmi:id="_JEV_UM-kEee48JrrJoDtQw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_JEV_Uc-kEee48JrrJoDtQw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_JEV_Us-kEee48JrrJoDtQw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_JEV_U8-kEee48JrrJoDtQw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_JEV_VM-kEee48JrrJoDtQw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JEV_Vc-kEee48JrrJoDtQw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_JEV_Vs-kEee48JrrJoDtQw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_JEVYQc-kEee48JrrJoDtQw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_JEVYQs-kEee48JrrJoDtQw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_JEWmYM-kEee48JrrJoDtQw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JEVYQ8-kEee48JrrJoDtQw" x="574" y="416" width="56" height="53"/>
        </children>
        <children xmi:id="_YGFkgNCGEee48JrrJoDtQw" type="State" element="_YGEWYNCGEee48JrrJoDtQw">
          <children xsi:type="notation:DecorationNode" xmi:id="_YGGLk9CGEee48JrrJoDtQw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_YGGLlNCGEee48JrrJoDtQw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_YGGLldCGEee48JrrJoDtQw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YGGLltCGEee48JrrJoDtQw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_YGGLl9CGEee48JrrJoDtQw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YGGLmNCGEee48JrrJoDtQw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YGGyoNCGEee48JrrJoDtQw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_YGGLkNCGEee48JrrJoDtQw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_YGGLkdCGEee48JrrJoDtQw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_YGGyodCGEee48JrrJoDtQw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YGGLktCGEee48JrrJoDtQw" x="772" y="81"/>
        </children>
        <children xmi:id="_bcdqcNCGEee48JrrJoDtQw" type="State" element="_bcccUNCGEee48JrrJoDtQw">
          <children xsi:type="notation:DecorationNode" xmi:id="_bcdqdNCGEee48JrrJoDtQw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_bcdqddCGEee48JrrJoDtQw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_bcdqdtCGEee48JrrJoDtQw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_bcdqd9CGEee48JrrJoDtQw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_bceRgNCGEee48JrrJoDtQw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bceRgdCGEee48JrrJoDtQw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_bceRgtCGEee48JrrJoDtQw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_bcdqcdCGEee48JrrJoDtQw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_bcdqctCGEee48JrrJoDtQw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_bceRg9CGEee48JrrJoDtQw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bcdqc9CGEee48JrrJoDtQw" x="916" y="81"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1YCCNM-iEee48JrrJoDtQw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_1YCCMs-iEee48JrrJoDtQw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1YCCMc-iEee48JrrJoDtQw" x="225" y="10" width="1030" height="692"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_V5jyk8xUEee63t77XRcTiA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_V5jylcxUEee63t77XRcTiA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_V5kZoMxUEee63t77XRcTiA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_V5kZocxUEee63t77XRcTiA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_V5lAsMxUEee63t77XRcTiA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_V5lAscxUEee63t77XRcTiA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_V5lAssxUEee63t77XRcTiA" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_V5FRcsxUEee63t77XRcTiA"/>
    <edges xmi:id="_1YTvAM-iEee48JrrJoDtQw" type="Transition" element="_1YTvB8-iEee48JrrJoDtQw" source="_1YSg4s-iEee48JrrJoDtQw" target="_1YPdkM-iEee48JrrJoDtQw">
      <children xsi:type="notation:DecorationNode" xmi:id="_1YTvBM-iEee48JrrJoDtQw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1YTvBs-iEee48JrrJoDtQw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1YTvBc-iEee48JrrJoDtQw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1YTvA8-iEee48JrrJoDtQw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1YTvAs-iEee48JrrJoDtQw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1YTvAc-iEee48JrrJoDtQw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_1YKlEM-iEee48JrrJoDtQw" type="Transition" element="_1YLMIM-iEee48JrrJoDtQw" source="_Hr-ihdCGEee48JrrJoDtQw" target="_Hr-ikdCGEee48JrrJoDtQw">
      <children xsi:type="notation:DecorationNode" xmi:id="_1YKlFs-iEee48JrrJoDtQw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1YKlGM-iEee48JrrJoDtQw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1YKlF8-iEee48JrrJoDtQw" x="-3" y="22"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1YKlFc-iEee48JrrJoDtQw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1YKlFM-iEee48JrrJoDtQw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1YKlE8-iEee48JrrJoDtQw" points="[15, 9, -70, 3]$[86, 29, 1, 23]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1YKlEs-iEee48JrrJoDtQw" id="(0.7922077922077922,0.41509433962264153)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1YKlEc-iEee48JrrJoDtQw" id="(0.16455696202531644,0.5283018867924528)"/>
    </edges>
    <edges xmi:id="_1YIv7c-iEee48JrrJoDtQw" type="Transition" element="_1YIv9c-iEee48JrrJoDtQw" source="_Hr-indCGEee48JrrJoDtQw" target="_Hr-ihdCGEee48JrrJoDtQw">
      <children xsi:type="notation:DecorationNode" xmi:id="_1YIv7s-iEee48JrrJoDtQw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1YIv78-iEee48JrrJoDtQw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1YIv8M-iEee48JrrJoDtQw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1YIv8c-iEee48JrrJoDtQw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1YIv8s-iEee48JrrJoDtQw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1YIv88-iEee48JrrJoDtQw" points="[0, 7, 5, -46]$[-2, 47, 3, -6]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1YIv9M-iEee48JrrJoDtQw" id="(0.4155844155844156,0.1320754716981132)"/>
    </edges>
    <edges xmi:id="_1YQrsM-iEee48JrrJoDtQw" type="Transition" element="_1YQruM-iEee48JrrJoDtQw" source="_1YPdkM-iEee48JrrJoDtQw" target="_1YEecM-iEee48JrrJoDtQw">
      <children xsi:type="notation:DecorationNode" xmi:id="_1YQrtc-iEee48JrrJoDtQw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1YQrt8-iEee48JrrJoDtQw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1YQrts-iEee48JrrJoDtQw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1YQrtM-iEee48JrrJoDtQw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1YQrs8-iEee48JrrJoDtQw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1YQrss-iEee48JrrJoDtQw" points="[18, -2, -57, 2]$[76, -152, 1, -148]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1YQrsc-iEee48JrrJoDtQw" id="(0.005385996409335727,0.373134328358209)"/>
    </edges>
    <edges xmi:id="_LzfioM-jEee48JrrJoDtQw" type="Transition" element="_LzeUgM-jEee48JrrJoDtQw" source="_1YEecM-iEee48JrrJoDtQw" target="_1YDQUM-iEee48JrrJoDtQw">
      <children xsi:type="notation:DecorationNode" xmi:id="_LzgJsc-jEee48JrrJoDtQw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LzgJss-jEee48JrrJoDtQw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LzgJs8-jEee48JrrJoDtQw" x="5" y="52"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Lzfioc-jEee48JrrJoDtQw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LzgJsM-jEee48JrrJoDtQw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Lzfios-jEee48JrrJoDtQw" points="[11, 203, 1, -203]$[63, 398, 53, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Lzil8M-jEee48JrrJoDtQw" id="(0.5008976660682226,0.11158798283261803)"/>
    </edges>
    <edges xmi:id="_df56AM-jEee48JrrJoDtQw" type="Transition" element="_df4r4M-jEee48JrrJoDtQw" source="_1YEecM-iEee48JrrJoDtQw" target="_YH4FYM-jEee48JrrJoDtQw">
      <children xsi:type="notation:DecorationNode" xmi:id="_df6hEM-jEee48JrrJoDtQw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_df6hEc-jEee48JrrJoDtQw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_df6hEs-jEee48JrrJoDtQw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_df56Ac-jEee48JrrJoDtQw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_df56A8-jEee48JrrJoDtQw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_df56As-jEee48JrrJoDtQw" points="[6, 0, -134, -9]$[141, -12, 1, -21]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_df7vMM-jEee48JrrJoDtQw" id="(0.9868421052631579,0.5364806866952789)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_df7vMc-jEee48JrrJoDtQw" id="(0.17857142857142858,0.4528301886792453)"/>
    </edges>
    <edges xmi:id="_NRCpQM-kEee48JrrJoDtQw" type="Transition" element="_NRCCMM-kEee48JrrJoDtQw" source="_1YDQUM-iEee48JrrJoDtQw" target="_JEVYQM-kEee48JrrJoDtQw">
      <children xsi:type="notation:DecorationNode" xmi:id="_NRDQUc-kEee48JrrJoDtQw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NRDQUs-kEee48JrrJoDtQw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NRDQU8-kEee48JrrJoDtQw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NRCpQc-kEee48JrrJoDtQw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NRDQUM-kEee48JrrJoDtQw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NRCpQs-kEee48JrrJoDtQw" points="[16, 6, -94, 3]$[111, 28, 1, 25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NREecM-kEee48JrrJoDtQw" id="(0.8545454545454545,0.4716981132075472)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NREecc-kEee48JrrJoDtQw" id="(0.19642857142857142,0.49056603773584906)"/>
    </edges>
    <edges xmi:id="_aJVOoNCGEee48JrrJoDtQw" type="Transition" element="_aJUAgNCGEee48JrrJoDtQw" source="_YH4FYM-jEee48JrrJoDtQw" target="_YGFkgNCGEee48JrrJoDtQw">
      <children xsi:type="notation:DecorationNode" xmi:id="_aJVOpNCGEee48JrrJoDtQw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_aJVOpdCGEee48JrrJoDtQw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_aJVOptCGEee48JrrJoDtQw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_aJVOodCGEee48JrrJoDtQw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_aJVOo9CGEee48JrrJoDtQw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_aJVOotCGEee48JrrJoDtQw" points="[15, 9, -134, 13]$[144, 20, -5, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_aJXD0NCGEee48JrrJoDtQw" id="(0.8170731707317073,0.6037735849056604)"/>
    </edges>
    <edges xmi:id="_dm3FcNCGEee48JrrJoDtQw" type="Transition" element="_dm13UNCGEee48JrrJoDtQw" source="_YGFkgNCGEee48JrrJoDtQw" target="_bcdqcNCGEee48JrrJoDtQw">
      <children xsi:type="notation:DecorationNode" xmi:id="_dm3FdNCGEee48JrrJoDtQw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_dm3sgNCGEee48JrrJoDtQw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_dm3sgdCGEee48JrrJoDtQw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_dm3FcdCGEee48JrrJoDtQw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_dm3Fc9CGEee48JrrJoDtQw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_dm3FctCGEee48JrrJoDtQw" points="[10, 0, -64, 3]$[75, 23, 1, 26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dm46oNCGEee48JrrJoDtQw" id="(0.78,0.5283018867924528)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dm46odCGEee48JrrJoDtQw" id="(0.03508771929824561,0.4716981132075472)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
