<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_V4eNcMxUEee63t77XRcTiA" specification="interface:&#xA;// Define events and&#xA;&#xA;in event criticalFailure&#xA;in event reachedMaxSpeed&#xA;in event onStart&#xA;// and variables here. &#xA;//Use CTRL + Space for content assist." name="HypedMachine">
    <regions xmi:id="_V5FRc8xUEee63t77XRcTiA" name="x">
      <vertices xsi:type="sgraph:Entry" xmi:id="_V5QQkMxUEee63t77XRcTiA">
        <outgoingTransitions xmi:id="_V5T68MxUEee63t77XRcTiA" target="_V5Q3p8xUEee63t77XRcTiA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_V5Q3p8xUEee63t77XRcTiA" name="Idle" incomingTransitions="_V5T68MxUEee63t77XRcTiA">
        <outgoingTransitions xmi:id="_U4tNAMxpEeee_ZLSXyhMMw" specification="onStart" target="_Dl62ksxpEeee_ZLSXyhMMw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Dl62ksxpEeee_ZLSXyhMMw" name="Moving" incomingTransitions="_U4tNAMxpEeee_ZLSXyhMMw">
        <regions xmi:id="_Dl8EsMxpEeee_ZLSXyhMMw" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_Dl_vHMxpEeee_ZLSXyhMMw" name="Accelerating" incomingTransitions="_ThuL8MxpEeee_ZLSXyhMMw">
            <outgoingTransitions xmi:id="_DmCyY8xpEeee_ZLSXyhMMw" specification="reachedMaxSpeed&#xA;" target="_Dl8EvcxpEeee_ZLSXyhMMw"/>
            <outgoingTransitions xmi:id="_DmA9NsxpEeee_ZLSXyhMMw" specification="criticalFailure" target="_Dl-hBMxpEeee_ZLSXyhMMw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_Dl-hBMxpEeee_ZLSXyhMMw" name="EmergencyBraking" incomingTransitions="_DmA9NsxpEeee_ZLSXyhMMw _Dl9S0MxpEeee_ZLSXyhMMw"/>
          <vertices xsi:type="sgraph:State" xmi:id="_Dl8EvcxpEeee_ZLSXyhMMw" name="Decelerating" incomingTransitions="_DmCyY8xpEeee_ZLSXyhMMw">
            <outgoingTransitions xmi:id="_Dl9S0MxpEeee_ZLSXyhMMw" specification="criticalFailure" target="_Dl-hBMxpEeee_ZLSXyhMMw"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_S5S6AMxpEeee_ZLSXyhMMw">
            <outgoingTransitions xmi:id="_ThuL8MxpEeee_ZLSXyhMMw" specification="" target="_Dl_vHMxpEeee_ZLSXyhMMw"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_V5FRccxUEee63t77XRcTiA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_V4eNcMxUEee63t77XRcTiA" measurementUnit="Pixel">
    <children xmi:id="_V5Ji4MxUEee63t77XRcTiA" type="Region" element="_V5FRc8xUEee63t77XRcTiA">
      <children xsi:type="notation:DecorationNode" xmi:id="_V5NNQMxUEee63t77XRcTiA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_V5NNQcxUEee63t77XRcTiA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_V5NNQsxUEee63t77XRcTiA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_V5N0UMxUEee63t77XRcTiA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_V5QQkcxUEee63t77XRcTiA" type="Entry" element="_V5QQkMxUEee63t77XRcTiA">
          <children xmi:id="_V5Q3oMxUEee63t77XRcTiA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_V5Q3o8xUEee63t77XRcTiA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_V5Q3pMxUEee63t77XRcTiA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_V5Q3pcxUEee63t77XRcTiA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_V5Q3ocxUEee63t77XRcTiA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_V5Q3osxUEee63t77XRcTiA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_V5QQksxUEee63t77XRcTiA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_V5QQk8xUEee63t77XRcTiA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_V5Q3psxUEee63t77XRcTiA" x="71" y="20" width="15" height="15"/>
        </children>
        <children xmi:id="_V5Ss0sxUEee63t77XRcTiA" type="State" element="_V5Q3p8xUEee63t77XRcTiA">
          <children xsi:type="notation:DecorationNode" xmi:id="_V5TT4MxUEee63t77XRcTiA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_V5TT4cxUEee63t77XRcTiA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_V5TT4sxUEee63t77XRcTiA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_V5TT48xUEee63t77XRcTiA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_V5TT5MxUEee63t77XRcTiA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_V5TT5cxUEee63t77XRcTiA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_V5TT5sxUEee63t77XRcTiA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_V5Ss08xUEee63t77XRcTiA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_V5Ss1MxUEee63t77XRcTiA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_V5TT58xUEee63t77XRcTiA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_V5TT6MxUEee63t77XRcTiA" x="61" y="128" width="40" height="53"/>
        </children>
        <children xmi:id="_Dl5odsxpEeee_ZLSXyhMMw" type="State" element="_Dl62ksxpEeee_ZLSXyhMMw">
          <children xsi:type="notation:DecorationNode" xmi:id="_Dl6PiMxpEeee_ZLSXyhMMw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Dl62kcxpEeee_ZLSXyhMMw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Dl62kMxpEeee_ZLSXyhMMw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Dl6PhcxpEeee_ZLSXyhMMw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Dl6PhsxpEeee_ZLSXyhMMw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Dl6Ph8xpEeee_ZLSXyhMMw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Dl6PhMxpEeee_ZLSXyhMMw" type="StateFigureCompartment">
            <children xmi:id="_Dl7docxpEeee_ZLSXyhMMw" type="Region" element="_Dl8EsMxpEeee_ZLSXyhMMw">
              <children xsi:type="notation:DecorationNode" xmi:id="_Dl7dpsxpEeee_ZLSXyhMMw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_Dl7dqMxpEeee_ZLSXyhMMw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_Dl7dp8xpEeee_ZLSXyhMMw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_Dl7dpMxpEeee_ZLSXyhMMw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_Dl_vEMxpEeee_ZLSXyhMMw" type="State" element="_Dl_vHMxpEeee_ZLSXyhMMw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_Dl_vEcxpEeee_ZLSXyhMMw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Dl_vEsxpEeee_ZLSXyhMMw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_Dl_vE8xpEeee_ZLSXyhMMw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Dl_vFMxpEeee_ZLSXyhMMw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_Dl_vFcxpEeee_ZLSXyhMMw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Dl_vFsxpEeee_ZLSXyhMMw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Dl_vF8xpEeee_ZLSXyhMMw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Dl_vGMxpEeee_ZLSXyhMMw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_Dl_vGcxpEeee_ZLSXyhMMw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Dl_vGsxpEeee_ZLSXyhMMw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Dl_vG8xpEeee_ZLSXyhMMw" x="21" y="36"/>
                </children>
                <children xmi:id="_Dl-g8MxpEeee_ZLSXyhMMw" type="State" element="_Dl-hBMxpEeee_ZLSXyhMMw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_Dl-g8cxpEeee_ZLSXyhMMw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Dl-g8sxpEeee_ZLSXyhMMw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_Dl-g88xpEeee_ZLSXyhMMw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Dl-g9MxpEeee_ZLSXyhMMw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_Dl-g9cxpEeee_ZLSXyhMMw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Dl-g9sxpEeee_ZLSXyhMMw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Dl-g98xpEeee_ZLSXyhMMw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Dl-g-MxpEeee_ZLSXyhMMw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_Dl-g-cxpEeee_ZLSXyhMMw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Dl-g-sxpEeee_ZLSXyhMMw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Dl-g-8xpEeee_ZLSXyhMMw" x="192" y="201"/>
                </children>
                <children xmi:id="_Dl8EscxpEeee_ZLSXyhMMw" type="State" element="_Dl8EvcxpEeee_ZLSXyhMMw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_Dl8EssxpEeee_ZLSXyhMMw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Dl8Es8xpEeee_ZLSXyhMMw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_Dl8EtMxpEeee_ZLSXyhMMw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Dl8EtcxpEeee_ZLSXyhMMw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_Dl8EtsxpEeee_ZLSXyhMMw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Dl8Et8xpEeee_ZLSXyhMMw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Dl8EuMxpEeee_ZLSXyhMMw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Dl8EucxpEeee_ZLSXyhMMw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_Dl8EusxpEeee_ZLSXyhMMw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Dl8Eu8xpEeee_ZLSXyhMMw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Dl8EvMxpEeee_ZLSXyhMMw" x="399" y="27"/>
                </children>
                <children xmi:id="_S5UIIMxpEeee_ZLSXyhMMw" type="Entry" element="_S5S6AMxpEeee_ZLSXyhMMw">
                  <children xmi:id="_S5V9UMxpEeee_ZLSXyhMMw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_S5WkYMxpEeee_ZLSXyhMMw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_S5WkYcxpEeee_ZLSXyhMMw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_S5WkYsxpEeee_ZLSXyhMMw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_S5V9UcxpEeee_ZLSXyhMMw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S5V9UsxpEeee_ZLSXyhMMw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_S5UIIcxpEeee_ZLSXyhMMw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_S5UIIsxpEeee_ZLSXyhMMw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S5UII8xpEeee_ZLSXyhMMw" x="48" y="-18"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Dl7dpcxpEeee_ZLSXyhMMw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_Dl7do8xpEeee_ZLSXyhMMw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Dl7dosxpEeee_ZLSXyhMMw"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Dl6Pg8xpEeee_ZLSXyhMMw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Dl6PgsxpEeee_ZLSXyhMMw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Dl6PgcxpEeee_ZLSXyhMMw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Dl6PgMxpEeee_ZLSXyhMMw" x="151" width="557" height="402"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_V5N0UcxUEee63t77XRcTiA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_V5Ji4cxUEee63t77XRcTiA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_V5ObYMxUEee63t77XRcTiA" x="225" y="9" width="856" height="481"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_V5jyk8xUEee63t77XRcTiA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_V5jylcxUEee63t77XRcTiA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_V5kZoMxUEee63t77XRcTiA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_V5kZocxUEee63t77XRcTiA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_V5lAsMxUEee63t77XRcTiA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_V5lAscxUEee63t77XRcTiA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_V5lAssxUEee63t77XRcTiA" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_V5FRcsxUEee63t77XRcTiA"/>
    <edges xmi:id="_V5ikcMxUEee63t77XRcTiA" type="Transition" element="_V5T68MxUEee63t77XRcTiA" source="_V5QQkcxUEee63t77XRcTiA" target="_V5Ss0sxUEee63t77XRcTiA">
      <children xsi:type="notation:DecorationNode" xmi:id="_V5jykMxUEee63t77XRcTiA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_V5jykcxUEee63t77XRcTiA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_V5jyksxUEee63t77XRcTiA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_V5ikccxUEee63t77XRcTiA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_V5ikc8xUEee63t77XRcTiA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_V5ikcsxUEee63t77XRcTiA" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_DmCLUsxpEeee_ZLSXyhMMw" type="Transition" element="_DmCyY8xpEeee_ZLSXyhMMw" source="_Dl_vEMxpEeee_ZLSXyhMMw" target="_Dl8EscxpEeee_ZLSXyhMMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_DmCyYMxpEeee_ZLSXyhMMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_DmCyYsxpEeee_ZLSXyhMMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_DmCyYcxpEeee_ZLSXyhMMw" x="4" y="23"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_DmCLV8xpEeee_ZLSXyhMMw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_DmCLVsxpEeee_ZLSXyhMMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_DmCLVcxpEeee_ZLSXyhMMw" points="[15, 9, -70, 3]$[86, 29, 1, 23]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_DmCLVMxpEeee_ZLSXyhMMw" id="(0.7922077922077922,0.41509433962264153)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_DmCLU8xpEeee_ZLSXyhMMw" id="(0.16455696202531644,0.5283018867924528)"/>
    </edges>
    <edges xmi:id="_DmAWIsxpEeee_ZLSXyhMMw" type="Transition" element="_DmA9NsxpEeee_ZLSXyhMMw" source="_Dl_vEMxpEeee_ZLSXyhMMw" target="_Dl-g8MxpEeee_ZLSXyhMMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_DmA9M8xpEeee_ZLSXyhMMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_DmA9NcxpEeee_ZLSXyhMMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_DmA9NMxpEeee_ZLSXyhMMw" x="-15" y="-53"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_DmA9MsxpEeee_ZLSXyhMMw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_DmA9McxpEeee_ZLSXyhMMw" fontName="Verdana"/>
      <styles xsi:type="notation:StringValueStyle" xmi:id="_xgMK0MxpEeee_ZLSXyhMMw" name="featureToShow" stringValue="documentation"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_DmA9MMxpEeee_ZLSXyhMMw" points="[14, 20, -89, -122]$[104, 143, 1, 1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_DmAWJMxpEeee_ZLSXyhMMw" id="(0.19480519480519481,0.5849056603773585)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_DmAWI8xpEeee_ZLSXyhMMw" id="(0.12727272727272726,0.9811320754716981)"/>
    </edges>
    <edges xmi:id="_Dl-g_MxpEeee_ZLSXyhMMw" type="Transition" element="_Dl9S0MxpEeee_ZLSXyhMMw" source="_Dl8EscxpEeee_ZLSXyhMMw" target="_Dl-g8MxpEeee_ZLSXyhMMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Dl-g_cxpEeee_ZLSXyhMMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Dl-g_sxpEeee_ZLSXyhMMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Dl-g_8xpEeee_ZLSXyhMMw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Dl-hAMxpEeee_ZLSXyhMMw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Dl-hAcxpEeee_ZLSXyhMMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Dl-hAsxpEeee_ZLSXyhMMw" points="[-1, 24, 27, -139]$[-1, 138, 27, -25]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Dl-hA8xpEeee_ZLSXyhMMw" id="(0.24545454545454545,0.5283018867924528)"/>
    </edges>
    <edges xmi:id="_ThvaEMxpEeee_ZLSXyhMMw" type="Transition" element="_ThuL8MxpEeee_ZLSXyhMMw" source="_S5UIIMxpEeee_ZLSXyhMMw" target="_Dl_vEMxpEeee_ZLSXyhMMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_ThwBIcxpEeee_ZLSXyhMMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ThwBIsxpEeee_ZLSXyhMMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ThwBI8xpEeee_ZLSXyhMMw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ThvaEcxpEeee_ZLSXyhMMw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ThwBIMxpEeee_ZLSXyhMMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ThvaEsxpEeee_ZLSXyhMMw" points="[0, 7, 5, -46]$[-2, 47, 3, -6]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ThzrgMxpEeee_ZLSXyhMMw" id="(0.4155844155844156,0.1320754716981132)"/>
    </edges>
    <edges xmi:id="_U4ubIMxpEeee_ZLSXyhMMw" type="Transition" element="_U4tNAMxpEeee_ZLSXyhMMw" source="_V5Ss0sxUEee63t77XRcTiA" target="_Dl5odsxpEeee_ZLSXyhMMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_U4ubJMxpEeee_ZLSXyhMMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_U4ubJcxpEeee_ZLSXyhMMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_U4ubJsxpEeee_ZLSXyhMMw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_U4ubIcxpEeee_ZLSXyhMMw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_U4ubI8xpEeee_ZLSXyhMMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_U4ubIsxpEeee_ZLSXyhMMw" points="[18, -2, -57, 2]$[76, -152, 1, -148]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_U4w3YMxpEeee_ZLSXyhMMw" id="(0.005385996409335727,0.373134328358209)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
